@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;900&display=swap');

.navbar-text {
    font-family: 'Titillium Web', sans-serif;
}

.hero {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

.hero p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


